@if(magList.~size<1){
<!-- 无数据提示 -->
	<tr class="text-c">
		<td valign="top" colspan="10">没有找到匹配的记录</td>
	</tr>
	<script>
		$(document).ready(function () {
			//排序更新(防止出现上一页数据)
			$(".tablesorter").trigger("update");
			$("#total").text(${total});
		});
		
	</script>
@}else{
	@for(mag in magList){
	<tr class="text-c">
		<td>
		@if(mag.objDataResult!=1){
			<input type="checkbox" value="${mag.magId}" name="chkId">
		@}
		</td>
		<td>${mag.magName!}</td>
		<td>${mag.brandName!}</td>
		<td>${mag.company!}</td>
		<td>
		@if(mag.price==null){
		0
		@}else{
		${mag.price / 100}
		@}
		</td>
		<td>
		@if(mag.objDataStatus==0){
		未开始
		@}else if(mag.objDataStatus==1){
		处理中
		@}else if(mag.objDataStatus==2){
		处理完成
		@}
		</td>
		<td>
		@if(mag.objDataResult==0){
		暂无
		@}else if(mag.objDataResult==1){
		成功
		@}else if(mag.objDataResult==2){
		失败
		@}
		</td>
		<td>${mag.failDesc!}</td>
		<td>${mag.createTime!,dateFormat="yyyy-MM-dd HH:mm:ss"}</td>
		<td class="td-manage">
			@if(mag.objDataResult==1){
			<div class="uploader-thum-container">
							<div id="filePicker" class="webuploader-container">
						<i class="Hui-iconfont">&#xe642;</i>重新导入
						<div id="rt_rt_1agrit9p86a6102613rm2vu1gkr1" style=" overflow: hidden; bottom: auto; right: auto;">
							<input type="file" name="myfiles" id="object${mag.magId}" onchange="rebuildResource('object${mag.magId}',${taskId},${mag.id})"   style="cursor:pointer;position:absolute;left: 0;top: 0;opacity:0;"
							multiple="multiple" accept=".zip,.xlsx,.xls,.epub">
						</div>
						</div></div>
			@}		
			@if(mag.objDataResult!=1){
			<a title="删除" href="javascript:;" onclick="del('', '${request.contextPath}/taskHandle/delTaskHandle.html?resId=${mag.magId}&type=2&taskId=${taskId!''}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i>删除</a>
			@}
		</td>
	</tr>
	@}
	<script>
		$(document).ready(function () {
			//排序更新(防止出现上一页数据)
			$(".tablesorter").trigger("update");
			$("#total").text(${total});
		});
		function rebuildResource(c,taskId,id) {
			 $(".loadingBox").show();
				$.ajaxFileUpload({
					url : "../taskHandle/rebuildTaskHandle.html",
					type : 'POST',
					secureuri : false,
					fileElementId :c, // 上传文件的id、name属性名
					data : {taskId:${taskId},taskHandleId:id,resType:2},
					dataType : 'json',
					cache : false,
					timeout : 300000,
					error : function(e) {
						$(".loadingBox").hide();
						layer.msg(e.msg);
					},
					success : function(e) {
						$(".loadingBox").hide();
						layer.msg(e.msg);
	            		localAjaxReload();
					}
				});
			}
	</script>
@}