@if(BookList.~size<1){
<!-- 无数据提示 -->
<tr class="text-c">
    <td valign="top" colspan="14">没有找到匹配的记录</td>
</tr>
@}else{
@for(book in BookList){
<tr class="text-c">
    <td>
        <input type="checkbox" value="${book.bookid}" name="chkId">
    </td>
    <td title="${book.bookName!}">
        ${book.bookName!}
    </td>
    <td title="${book.author!}">
        ${book.author!}
    </td>
    <td>
        ${book. classification!}
    </td>
    <td>
        @if(book.Status==0){
        <span class="label label-primary radius">未发布</span>
        @}else if(book.Status==1){
        <span class="label label-success radius">上架</span>
        @}else if(book.Status==2){
        <span class="label label-info radius">已下架</span>
        @}
    </td>
    <td>${book.createTime}</td>
    <td>${book.modifyTime}</td>
    <td class="td-manage" style="width: 200px;">
        <a title="查看详细"
           onclick="layer_full_show_close_reload('资源详情','${request.contextPath}/resource/resDetails.html?bookid=${book.bookid}')"
           class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i>查看详细</a>
        @if(book.Status==1){
        <a title="下架" href="javascript:;"
           onclick="layer_show('下架资源','${request.contextPath}/siteRes/resUndercarriage.html?','是否下架该资源')" class="ml-5"
           style="text-decoration:none"><i class="Hui-iconfont">&#xe6de;</i>下架</a>
        @}else if(book.Status==2||book.Status==0){
        <a title="上架" href="javascript:;"
           onclick="action('上架资源','${request.contextPath}/siteRes/resGrounding.html?','是否上架该资源')" class="ml-5"
           style="text-decoration:none"><i class="Hui-iconfont">&#xe6dc;</i>上架</a>
        @}
        <a title="删除" href="javascript:;" onclick="customDel('','${request.contextPath}/resource/delResource.html?')"
           class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i>删除</a>
    </td>
</tr>
@}
<script>
    function customeSelOneToRequest(options) {
        var defaults = {
            id: "",
            confirm: "确认操作选中的记录？",
            ajaxtype: "POST",
            ajaxurl: "",
            ajaxdata: {
                siteId: $("#siteId").val()
            }
        };
        var op = $.extend({}, defaults, options);
        layer.confirm(op.confirm, {
            btn: ['确定', '取消'] //按钮
        }, function () {
            var ajaxOptions = {
                type: op.ajaxtype,
                dataType: 'json',
                url: op.ajaxurl,
                data: $.extend({}, op.ajaxdata, {id: op.id}),
                error: function (e) {
                    layer.msg('请求错误');
                },
                success: function (e) {
                    if (e.code == 200) {
                        $("#resSubmit").click();
                    }
                    else {
                        layer.msg('操作失败:' + e.msg);
                    }
                }
            };
            commmonAjax(ajaxOptions);
        }, function () {

        });
    }

    function customDel(id, url) {
        var options = {
            id: id,
            confirm: "确认删除选中的记录？",
            ajaxurl: url
        };
        customeSelOneToRequest(options);
    }

    $(document).ready(function () {
        //排序更新(防止出现上一页数据)
        $(".tablesorter").trigger("update");

    });

    //全屏展开子页面
    function layer_full_show_close_reload(title, url) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url,
            closeBtn: 1, //显示关闭按钮
            end: function () {//关闭后刷新父页面
                localAjaxReload();
            }
        });
        layer.full(index);
    }
</script>
@}