@charset "utf-8";
/* -----------H-ui前端框架-----------------------
H-ui.login.css v2.2.1
Copyright H-ui Inc.
http://www.H-ui.net
date:2015.6.5
Created & Modified by guojunhui.
----------------------------------------------*/
body,html{font-size:14px; height:100%;background:url("../images/login/back1.png") no-repeat #61a3ff;background-size:100% 100%; min-width:900px;}

.header{background:#fff;}
.header div{width:900px; margin:0 auto;}
.header div img{margin:10px 0;}

.back1{width:100%;}
 
.loginIcon{float:left;margin-top:5%;width:45%;} 
/* .loginBox form{position:absolute;bottom:300px;}
 */

.loginWraper{width:900px;margin:18% auto 0; position: relative;}
.loginBox{}
@media (max-width:617px) {
	.loginbox{ width:100%; position:static; margin-top:0; margin-left:0;}
}
.loginBox .row{ position: relative;}

.loginBox .row .form-label{position:absolute;width:26px;height:26px;vertical-align: middle; z-index:100;left:8px;top:1px;}
.loginBox .row .formControls{display:inline-block;width:100%;}
.loginBox .row .form-label .Hui-iconfont{ 	font-size:24px;}
.loginBox form{background-color: #fff;padding:15px 25px 25px 25px;margin-left:53%;width:300px;margin-top:-6%;border-radius:5px;position: relative;
  z-index: 99;}
.back2{position:absolute;left:50%;top: 329px;
  z-index: 1;}
.loginBox form p{text-align:center;font-size:1.6em;font-weight:bold;padding-bottom:10px;letter-spacing:4px;color:#394456;}
.loginBox .input-text{	border: 1px solid #61a3ff; height: 44px;margin-bottom: 24px;padding-left: 48px;border-radius: 4px;}
.loginBox .input-smscode{width:66%}
.loginBox .formControls img{
	float:right;
}

.form-horizontal .formControls {padding-right:0;}
.input-text.size-L, .btn.size-L{height:44px;}

.btn{	margin-bottom:0;background-color: #61a3ff;border-color:#61a3ff;width:100%;}
.btn:hover {
  color: #fff;
  background-color: #448aff;
  border-color: #448aff;
}
.col-offset-3{margin:0;}
.form .row {margin-top:0;}
	.yzm a{ color:#426374; font-size:12px}

#span_msg{ font-size:14px; color:Red; line-height:40px; height:40px; margin-left:10px; width:160px;; float:left}

.hd_msg{font-size:12px; color:#fff; height:30px; z-index:100;position: absolute; padding-left:50px; padding-top:5px}
.hd_msg a{ color:#fff}
.hd_msg a:hover{ color:#fff; text-decoration:underline}


#ie6-warning{background:#fff url(/jscss/demoimg/201006/warning.gif) no-repeat 3px center;position:absolute;top:0;left:0;font-size:12px;color:#333;width:97%;padding: 2px 15px 2px 23px;text-align:left}
#ie6-warning a {text-decoration:none}


@media screen and (max-width: 1100px) {
    .loginWraper{ margin-top:25%;}
}
@media screen and (max-height: 650px) {
    .loginWraper{ margin-top:10%;}
}
@media screen and (min-height: 651px) and (max-height: 760px){
    .loginWraper{ margin-top:13%;}
}
@media screen and (min-height: 761px) and (max-height: 800px){
    .loginWraper{ margin-top:16%;}
}
