@var head = {
	<link href="${request.contextPath}/lib/ztree/zTreeStyle.css" rel="stylesheet" type="text/css" />
	<title>设置代管站点</title>
@};
@var content = {
	<div class="pd-5" style="height:100%">
		<input type="hidden" value="${userId!''}" id="userId" name="userId">
		<input type="text" style="margin-left: 10px;position: fixed;"  id="pitchOnNode">
		<ul id="siteTree" class="ztree" style="margin-top: 20px">
			
		</ul>
		<div class="cl pd-5 mt-20 col-offset-3"> 
			<span class="l">
				@if(allotSite!false){
				<a href="javascript:;" onclick="allot();" class="btn btn-primary radius">设置提交</a>
				@}
			</span> 
		</div>
		<input type="hidden" id="ids" name="ids" value="${ids}">
	</div>
@};
@var js = {
	<script type="text/javascript" src="${request.contextPath}/lib/ztree/jquery.ztree.all-3.5.min.js"></script> 
	<script>
		var treeSetting = {
			check: {
				chkboxType : {"Y" : "ps", "N" : "ps"},
				enable: true
			},
  			view : {
  				dblClickExpand : true
  			},
  			data: {
				simpleData: {
					enable: true
				}
			},
  			callback : {
  				onCheck : onSiteTreeCheck,
  			}
  		};
  		
  		$(document).ready(function () {
			var zNodes = new Array();
			zNodes.push({"checked": true, "id": 0, "isParent": true, "name": "所有站点", "pId": 0});
			@for(region in regions){
				@var hasSite=false;
				@var hasSiteCheck=false;
				@for(currentSite in currentManagerUserSites){
					@if(region.regionId==currentSite.regionId){
						@hasSite=true;
						@var sitechecked=false;
						@for(site in managerUserSites){
							@if(site.siteId==currentSite.siteId){
								@sitechecked=true;
								@hasSiteCheck=true;
							@}
						@}
						if(${sitechecked}==true){
							zNodes.push({"checked": true, "id": ${currentSite.siteId!0}, "isParent": false, "name": "${currentSite.siteName!}", "pId": -${currentSite.regionId!0}});
						}else{
							zNodes.push({"checked": false, "id": ${currentSite.siteId!0}, "isParent": false, "name": "${currentSite.siteName!}", "pId": -${currentSite.regionId!0}});
						}
					@}
				@}
				if(${hasSite}==true){
					if(${hasSiteCheck}==true){
						zNodes.push({"checked": true, "id": -${region.regionId!0}, "isParent": true, "name": "${region.name!}", "pId": 0});
					}else{
						zNodes.push({"checked": false, "id": -${region.regionId!0}, "isParent": true, "name": "${region.name!}", "pId": 0});
					}
				}
			@}
			var siteTree = $.fn.zTree.init($("#siteTree"), treeSetting, zNodes);
			siteTree.expandAll(true);
		});
		
		function onSiteTreeCheck(e, treeId, treeNode) {
			var siteTree = $.fn.zTree.getZTreeObj(treeId);
			var nodes = siteTree.getCheckedNodes(true);
			var ids = "";
			var names = "";
			for (var i = 0, l = nodes.length; i < l; i++) {
				ids += nodes[i].id + ",";
				names += nodes[i].name + ",";
			}
			if (ids.length > 0)
				ids = ids.substring(0, ids.length - 1);
			if (names.length > 0)
				names = names.substring(0, names.length - 1);
			$("#ids").val(ids);
		}
		
		function allot(){
			var ids= $("#ids").val();
			var options = {
					url : "${request.contextPath}/user/allot.html?userId=${userId}",
					data : {ids:ids},
					error : function(e){
			        	layer.msg('请求错误');
			        },
			        success : function(e){
			        	if(e.code == 200){
			        		layer.msg(e.msg);
			        	}
			        	else{
			        		layer.msg('失败:'+e.msg);
			        	}
			        }
			};
			commmonAjax(options);
			return false;
		};
	</script>	
		
@};
@include("/layout/layout.html",{head:head,content:content,js:js}){}