@if(managers.~size<1){
<!-- 无数据提示 -->
	<tr class="text-c">
		<td valign="top" colspan="8">没有找到匹配的记录</td>
	</tr>
@}else{
	@for(user in managers){
	<tr class="text-c">
		<td>
			<input type="checkbox" value="${user.mId}" name="chkId">
		</td>
		<td>
			${user.account!}
		</td>
		<td>${user.name!}</td>
		<td>${user.createTime!,dateFormat="yyyy-MM-dd HH:mm"}</td>
		<td class="td-status">
			@if(user.status == 1){
			<span class="label label-success radius">正常</span>
			@}else{
			<span class="label radius">停用</span>
			@}
		</td>
		<td class="td-manage">
			@if(session.ManagerInfo.mId!''!=user.mId){
			<a title="编辑" href="javascript:;" onclick="layer_show('修改用户','${request.contextPath}/manage/update.html?mid=${user.mId}','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i>修改</a>
			@}
			@if(session.ManagerInfo.mId!''!=user.mId){
			<a title="删除" href="javascript:;" onclick="del('删除', '${request.contextPath}/manage/delete.html?mid=${user.mId}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i>删除</a>
			@}
			@if(session.ManagerInfo.mId!''!=user.mId){
				<a title="设置功能列表" href="javascript:;" onclick="layer_show('设置菜单','${request.contextPath}/manage/menusearch.html?mid=${user.mId}','280','520')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe61d;</i>设置功能列表</a>
			@}
		</td>
	</tr>
	@}
	<script>
		$(document).ready(function () {
			//排序更新(防止出现上一页数据)
			$(".tablesorter").trigger("update");
		});
	</script>
@}