@charset "utf-8";
/* 蓝色 */
a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#fff}
.Hui-header{ color:#fff}/*头部颜色*/
	.Hui-logo,.Hui-logo-m,.Hui-subtitle,.Hui-userbox{color:#fff}/*logo 及 用户信息文字颜色*/
	.Hui-logo:hover,.Hui-logo-m:hover{color:#fff;text-decoration: none}
	
.Hui-header{background-color:#2d6dcc}/*顶部导航*/
#Hui-nav > ul > li > a{ color:#fff}/*顶部导航文字颜色*/
#Hui-nav > ul > li > a:hover,#Hui-nav > ul > li.current > a{ color:#fff}/*导航高亮状态*/
.Hui-userbar > li > a{ color:#fff}
.logo{padding-right:10px;}
.Hui-userbar > li > a:hover,.Hui-userbar > li.current > a{ color:#fff}/*用户信息条高亮*/
.Hui-aside{}/*侧边栏*/
	.Hui-aside .menu_dropdown dt{color:#fff;border-bottom:1px solid #3b424a}/*左侧二级导航菜单*/
	.Hui-aside .menu_dropdown dt:hover{color:#fff}
	.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
	.Hui-aside .menu_dropdown dd ul{padding:0;}
	.Hui-aside .menu_dropdown dd li {border-bottom:1px solid #3b424a}
	.Hui-aside .menu_dropdown dd li a { line-height: 32px; padding-left: 45px; border-bottom: none; font-weight: normal; font-size: 12px;}
	.Hui-aside .menu_dropdown li a{color:#9fa2a4;border-bottom: 1px solid #3b424a}
	.Hui-aside .menu_dropdown li a:hover{color:#fff;background-color:#262b31;border-left:1px solid #2d6dcc;}
	.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#fff}
	.Hui-aside .menu_dropdown dt .Hui-iconfont{ margin-right:5px;}
	.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#b6b7b8}	
	.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}
.Hui-userbar > li {float: left;display: inline-block;position: relative; line-height: 40px; border-left: 1px solid #84a2ce; padding: 0 10px;}
span{font-size:14px;margin-left:7px;}
	