<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=11; IE=EDGE"> 
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<LINK rel="Bookmark" href="/favicon.ico">
	<LINK rel="Shortcut Icon" href="/favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="${request.contextPath}/lib/html5.js"></script>
	<script type="text/javascript" src="${request.contextPath}/lib/respond.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/lib/PIE_IE678.js"></script>
	<![endif]-->
	<link href="${request.contextPath}/css/H-ui.min.css" rel="stylesheet" type="text/css" />
	<link href="${request.contextPath}/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
	<link href="${request.contextPath}/css/style.css" rel="stylesheet" type="text/css" />
	<link href="${request.contextPath}/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
	<link href="${request.contextPath}/css/webuploader.css" rel="stylesheet" type="text/css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="${request.contextPath}/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	${head}
</head>
<body>
	${content}
	<script type="text/javascript" src="${request.contextPath}/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/lib/H-ui.js"></script>
	<script type="text/javascript" src="${request.contextPath}/lib/H-ui.admin.js"></script>
	<script type="text/javascript" src="${request.contextPath}/lib/layer/layer.js"></script>
	<script type="text/javascript" src="${request.contextPath}/lib/jquery.cookie.js"></script>
	<script type="text/javascript" src="${request.contextPath}/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="${request.contextPath}/lib/tablesorter/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/js/common.js"></script>
	<script type="text/javascript" src="${request.contextPath}/lib/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${request.contextPath}/lib/ajaxfileupload.js"></script>
	
	
	
	${js}
</body>
</html>